<h1>NG rx demo</h1>


<h1>Counter non store</h1>

<counter-non-store></counter-non-store>

<h1>Counter store </h1>
<counter-store></counter-store>
<!--
<h1>Subjects</h1>

<subject-dispatcher></subject-dispatcher> 

<h1>Behavior Subjects</h1>
<behavior-subject></behavior-subject>-->
<!--
<h1>Store dispatch flow</h1>

<store-dispatcher></store-dispatcher> -->


 <!-- <h1>Reducer</h1>
<app-reducers></app-reducers> -->
<!--
<h1>Reducer Redux</h1>
<reducer-redux-stlye></reducer-redux-stlye> -->

<!--
<h1>Subject scan</h1>
<scan-demo></scan-demo> -->
<h1>Middleware demo</h1>
<middleware-let-demo></middleware-let-demo>